.container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.counter_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
h2{
    background-color: rgb(37, 223, 37);
    border-radius: 5px;
    padding: 7px;

}
.counter_button{
    background-color: #f4f4f4;
    border:none;
    color: black;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}
.form_container{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.button_input{
    margin:5px ;
    padding :5px ;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
}
input{
    background-color: #f4f4f4;
    border:1px solid #000000;
    border-radius: 10px;
    margin: 5px;
}
