.container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.counter_container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter_button{
    margin-left: 5%;
    margin-right: 5%;
}

.counter_display{
    background: rgb(52, 209, 52);
    width:fit-content;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 2.5px;
    display: flex;
    align-items: center;
    color: white;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;

}

#substractBtn, #addBtn{
    border: none;
    background: transparent;
    font-size: 2.5rem;  
}

#form_container{
    margin-top: 5%;
}
